body {
  background-color: #121212;;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
}

.slider-container p {
  color: white;
  font-size: 2rem;
}

.grid-wrapper {
  display: flex;
  width: 660px;
  height: 660px;
  justify-content: center;
}

.grid-container {
  width: 600px;
  height: 600px;
  display: grid;
  background-color: white;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-item {
  border: 1px solid black;
}